:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  background-color: #F4F4F4;
  /* background-image: linear-gradient(to bottom, #2E323F , whitesmoke); */
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html, body{
  margin: 0;
  height: 100%;
  width: 100%;
  position: fixed;
}